.main {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
}

.main-card {
    width: 457px;
    height: 194px;
    margin: 50px;
}

.degres {
    font-size: 56px;
    margin-left: 25px;
}

.right-info {
    display: flex;
    margin-left: 49px;
    flex-direction: column;
}

.temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.humidity-img {
    width: 25px;
    height: 25px;
}

.sun-img {
    height: 90px;
    width: 90px;
}

.main-content {
    flex-direction: row;
    display: flex;
}

.humidity {
    font-size: 27px;
}

.pressure {
    font-size: 29px;
}

.city-text {
    font-size: 32px;
}