<div class="main">
    <mat-card class="main-card">
        <mat-card-title class="city-text">Jakubowo</mat-card-title>
        <mat-card-content class="main-content">
            <div class='temperature'><img src="../assets/images/sun.png" class="sun-img">
                <div class="degres">25 &deg;C</div>
            </div>
            <div class="right-info">
                <div class="humidity"><img src="../assets/images/water.png" class="humidity-img">50%</div>
                <div class="pressure">1100 hPa</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>